@page
@model WebApp.Attandances.IndexModel

<form method="get" asp-page="Details">
    <label for="id">Enter ID:</label>
    <input type="text" id="id" name="id" />
    <button type="submit">Submit</button>
</form>

<h1>Employee Attendance</h1>

<table class="table mt-4">
    <tr>
        <th>Date</th>
        <th>Status</th>
    </tr>
    @foreach (var attendance in Model.Attendances)
    {
        <tr>
            <td>@attendance.Date.ToString("dd/MM/yyyy")</td>
            <td>@attendance.Status</td>
        </tr>
    }
</table>
