@page
@model WebApp.Attandances.IndexModel
@{
}

<html>
<head>
    <title>Employee Attendance</title>
</head>
<body>
    <h1>Employee Attendance</h1>

    <table class="table mt-4">
        <tr>
            <th>Date</th>
            <th>Status</th>
        </tr>
        @foreach (var attendance in Model.Attendances)
        {
            <tr>
                <td>@attendance.Date.ToString("dd/MM/yyyy")</td>
                <td>@attendance.Status</td>
            </tr>
        }
    </table>
</body>
</html>