@page
@model WebApp.Pages.DeleteModel
@{
}


<h3>Delete Employee</h3>
<div class="container">
    <h1>Employee Details</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Employee ID: @Model.Employee.Id</h5>
            <h6 class="card-subtitle mb-2 text-muted">Name: @Model.Employee.Name</h6>
            <p class="card-text">Email: @Model.Employee.Email</p>
        </div>
    </div>
 <div>
